<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elio.edu.login.domain.UserEntity">

    <!--<select id="selectUser" parameterType="com.elio.edu.login.domain.UserEntity" resultType="com.elio.edu.login.domain.UserEntity">
        SELECT CUSTOMER_NO
               , DIAL_CODE
               , MDN
               , EMAIL
               , PROFILE_NAME
               , PROFILE_IMAGE_URL
               , CUSTOMER_TYPE
               , ACCOUNT_PASSWORD
               , PASSWORD_FAIL_COUNT
               , LANGUAGE_CODE
               , LAST_JOIN_DATE
               , LAST_REQUEST_DATE
               , LAST_PAYMENT_DATE
               , LAST_CLOSE_DATE
               , CUSTOMER_STATUS
               , CLOSE_TYPE
               , CLOSE_DESC
               , BLOCK_YN
               , DELETE_YN
          FROM TB_CUSTOMER
         WHERE EMAIL = #{email}
               AND ACCOUNT_PASSWORD = #{accountPassword}
    </select>-->

</mapper>